@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PtSans";
	src: url("../fonts/PTSans/PT_Sans-Web-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PtSans";
	src: url("../fonts/PTSans/PT_Sans-Web-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "PtSans";
	src: url("../fonts/PTSans/PT_Sans-Web-Italic.ttf");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "PtSans";
	src: url("../fonts/PTSans/PT_Sans-Web-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Jaipur";
	src: url("../fonts/jaipur/jaipur.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'kievit';
	font-style: normal;
	font-weight: 400;
	src: local('kievit'), local('kievit-Regular'), url(../fonts/kievit/kievit-regular-webfont.woff) format('woff');
  }

  @font-face {
	font-family: 'kievit';
	font-style: medium;
	font-weight: 500;
	src: local('kievit'), local('kievit-Regular'), url(../fonts/kievit/kievit-medium-webfont.woff) format('woff');
  }
  @font-face {
	font-family: 'kievit';
	font-style: bold;
	font-weight: 700;
	src: local('kievit'), local('kievit-Bold'), url(../fonts/kievit/kievit-bold-webfont.woff) format('woff');
  }
  @font-face {
	font-family: 'kievit-extrabold';
	font-style: extrabold;
	font-weight: 900;
	src: local('kievit'), local('kievit-Regular'), url(../fonts/kievit/kievit-extrabold-webfont.woff) format('woff');
  }